
.container{
    background-color: aqua;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
    display: grid;
    display: inline-block-grid;
}
.item1{
    background-color: blueviolet;
    border: 2px solid black;
}
@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
    .container{
        grid-template-columns: auto;
        background-color: brown;
    }
}
@media screen and (max-width: 600px) and (min-width:480px) {
    body {
        background-color: rgb(238, 232, 144);
    }
        .container {
            grid-template-columns: auto auto;
            background-color: rgb(165, 42, 124);
        }
}
@media screen and (max-width: 900px) and (min-width:600px) {
    body {
        background-color: rgb(238, 144, 149);
    }
        .container {
            grid-template-columns: auto auto auto;
            background-color: rgb(42, 116, 165);
        }
}
a:hover{
    background-color: rgb(255, 0, 0);
}
a:focus {
    background-color: rgb(9, 255, 0);
}
a:visited {
    background-color: rgb(255, 145, 0);
}
.data{
    height: 500px;
    width: 200px;
    overflow: auto;
}